*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    color: #183b56;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

p {
   font-family: "Roboto" , sans-serif; 
   color: #577592;
   line-height: 1.6rem;
   scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1500px;
    margin-inline: auto;
    overflow: hidden;
}
nav{
    background-color: white;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    font-weight: 700;
}

.main-nav{
    justify-content: space-between;
    padding-block: 3px ;


}

.company-logo img{
   width: 100px;
}

.nav-links ul{
    gap: 25px;
    color: black;
}

.hover-link{
    cursor: pointer;
}

.hover-link:hover{
    color: red;
}
.hover-link:active{
    color: red;
}
.nav-item.active{
    color: #1d69a3;
}
.search-bar {
    height: 40px;
    gap: 10px;
}

.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 5px;
    border: 2px solid #bbd0e2;
}

.search-button {
    background-color:#2294ed ;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px ;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400px;
}
.search-button:hover {
    background-color: #1d69a2;
}

main {
    padding-block: 20px;
    margin-top: 100px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
    align-items: start;
    border:2px;
    
}
.card {
    width: 350px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    

}
.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);

}

.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content{
    padding: 14px;
    
}
.news-source{
    margin-block: 12px;
}
.card-content h3:hover{
    background-color:#577592;

}
